<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Календарь курсов и мероприятий «Искусства Жизни» в Иркутске на {{ current_year }} год</title>
  {%- if can_edit %}
    <script>
      function getEditEventUrl(eventId) {
        return `{{ url_for('cal.edit_event', event_id='') }}${eventId}`;
      }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
    <script src="{{ url_for('static', filename='calendar.js') }}" defer></script>
    <script src="{{ url_for('static', filename='admin.js') }}" defer></script>
  {%- else %}
    <link rel="stylesheet" href="calendar.css?ver=2025-11-27T20:15:00+08:00">
    <script src="calendar.js?ver=2025-11-27T20:15:00+08:00" defer></script>
  {%- endif %}
</head>
<body>
  <h1>Курсы и мероприятия «Искусства Жизни» в Иркутске на {{ current_year }} год</h1>
  <header>
    <nav>
      <ul>
	{%- for year in years %}
	<li><a href="{{ year }}.html"{% if year == current_year %} aria-current="page"{% endif %}>{{ year }}</a></li>
	{%- endfor %}
      </ul>
    </nav>
  </header>
  <main>
    <h2>Что показывать:</h2>
    <div class="filters-wrapper">
      <div class="event-filters">
	<label><input type="checkbox" id="filter-courses" data-target-types="!practices,practices_online,practices_vtp,yoga,yoga_spine,yoga_joints" checked> Курсы</label>
	<label><input type="checkbox" id="filter-practices" data-target-types="practices,practices_online,practices_vtp" checked> Поддерживающие занятия</label>
	<label><input type="checkbox" id="filter-yoga" data-target-types="yoga,yoga_spine,yoga_joints" checked> Йога</label>
      </div>
    </div>
    {%- for data in calendar_data %}
    {% include 'calendar.html' %}
    {%- endfor %}
  </main>
  {%- if can_edit %}
    <button type="button" class="add-event-btn">+</button>
    {% set add_form=True %}
    {% include "event-dialog.html" %}
    {% set add_form=False %}
    {% include "event-dialog.html" %}
    {% include "info-box.html" %}
  {%- else %}
    {% include "info-box.html" %}
  {%- endif %}
</body>
</html>
