  <dialog class="event-details">
    <header>
      <h3>О событии</h3>
      <button class="close">X</button>
    </header>
    <table>
      <tbody>
	<tr>
	  <th scope="row">Мероприятие</th>
	  <td data-name="name"></td>
	</tr>
	<tr>
	  <th scope="row">Даты</th>
	  <td data-name="dates"></td>
	</tr>
	<tr>
	  <th scope="row">Время</th>
	  <td data-name="time"></td>
	</tr>
	<tr>
	  <th scope="row">Место</th>
	  <td data-name="place"></td>
	</tr>
	<tr>
	  <th scope="row">Учителя</th>
	  <td data-name="teachers"></td>
	</tr>
	<tr>
	  <th scope="row">Участников</th>
	  <td data-name="people"></td>
	</tr>
      </tbody>
    </table>
  </dialog>
