body {
    /* margin: 0; */
    font-family: system-ui;
    line-height: 1.5;
}
table {
    --color: #d0d0f5;
    border-collapse: collapse;
    text-align: left;
}
thead {
    border-block-end: 2px solid;
    background: whitesmoke;
    background: var(--color);
}
th,
td {
    border: 1px solid lightgrey;
    padding: 0.25rem 0.75rem;
}
tbody tr:nth-child(even) {
    background: color-mix(in srgb, var(--color), transparent 60%);
}
